<h4 id="notice"><span class="label label-info"><%= notice %></span></h4>

<div class="container hometitle text-right">
  <h1><em>Breaddit</em></h1>
  <h5><small>show us your slice</small></h5>
</div>

<%= render 'links' %>


<div class="container">
<%= paginate @links %>
</div>
<br>
